

:root {
  font-size: calc(0.5vw + 1vh);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 420px;
}

h1, h4 {
  line-height: 1.3;
}

header h1 {
  font-size: 2.4rem;
  margin: 4rem auto;
}

span {
  font-size: 3rem;
}

p {
  font-family: "Roboto Slab", serif;
}

a, a:link, a:active, a:visited {
  color: #0066aa;
  text-decoration: none;
  border-bottom: #000013 0.16rem solid;
}

a:hover {
  color: #000013;
}

header, footer {
  width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 5.3rem;
  margin: auto;
  background: #a8a8a8;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
}

.column {
  width: 8.4rem;
  margin: 0 0.6rem;
  background: #a8a8a8;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
}

.column-header {
  padding: 0.1rem;
  border-bottom: #000013 0.2rem solid;
}

.column-header h4 {
  text-align: center;
}

.to-do-column .column-header {
  background: #ff872f;
}

.doing-column .column-header {
  background: #13a4d9;
}

.done-column .column-header {
  background: #15d072;
}

.trash-column .column-header {
  background: #ff4444;
}

.task-list {
  min-height: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}



.delete-button {
  background-color: #f05454;
  border-color: #f05454;
}

.delete-button:hover {
  background-color: #d14747;
  border-color: #d14747;
}

.add-button {
  background-color: #61d44c;
  border-color: #61d44c;
}

.add-button:hover {
  background-color: #56bf43;
  border-color: #56bf43;
}

label{
  margin-left: 10px;
  margin-right: 10px;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.4rem;
  height: 4rem;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  cursor: move;
  text-align: center;
  vertical-align: middle;
}

#taskText {
  background: #fff;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
  width: 7rem;
  margin: auto 0.8rem auto 0.1rem;
}

.task p {
  margin: auto;
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

#signout_button {
  display: none;
}

p {
  font-family: 'Encode Sans';
  font-weight: 600;
}

pre {
  font-family: 'Encode Sans';
  font-weight: 300;
}

.gu-mirror {
  position: fixed!important;
  margin: 0!important;
  z-index: 9999!important;
  opacity: .8;
}

.gu-hide {
  display: none!important;
}

.gu-unselectable {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

.gu-transit {
  opacity: .2;
}

body:before{
  content: "";
  position: absolute;
  width : 100%;
  height: 100%;
  background: inherit;
  z-index: -1;

  filter: blur(15rem);


}


#dashboard_left {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 100%;
  min-height: 50rem;
  box-shadow: 1px 1px 5px black;
}


#dashboard_right_up {
  background-color: rgba(179, 179, 179, 0.8);
  box-shadow: 1px 1px 5px black;
}


#dashboard_right_down {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 5px black;
}

#sidebar {
  max-width: 20%;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 5px black;
}

#sidebar .card {
  max-width: 10rem;
  max-height: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

#sidebar .card-body {
  max-height: 10%;
}

.card {
  margin: 10px;
}

.col.flex-grow-1.flex-shrink-0 {
  max-height: 100%;
  min-height: 25rem;
}

#dashboard_right_up {
  max-height: 100%;
  min-height: 25rem;
}

.to-do-title {
  text-align: center;
  color: rgb(0, 0, 0);
}



.card-body input[type="text"] {
  width: 310px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: #fff;
  color: #2f4f4f;
}



.tasksBoard {
  background-color: #fff;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  display: none;
}

ul {
  list-style: none;
}

li {
  border-bottom: 1px solid #53BDFF;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.3em;
  color: #2f4f4f;
}

a {
  float: right;
  text-align: right;
  color: #000000;
  font-size: 1.2em;
  cursor: pointer;
}

.delete {
  background-color: #f05454;
  color: #fff;
  cursor: pointer;
}


.delete:hover{
  background-color: #d14747;

}

@media (max-width: 500px) {
  .main {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 500px) {
  input[type="text"] {
    width: 80%;
  }
}

@media (max-width: 500px) {
  button {
    width: 10%;
  }
}

.widget-symbol{
  margin-top: 2rem;
  text-align: center;
  display: none;

}

.widget-symbol img{
    width: 4rem;
}
.widget-symbol p{
    margin-top: 1rem;
}

#sidebar .card .card-body{
  visibility: hidden;
}

#sidebar .card .widget-symbol{
  display: block !important;
}
